/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary-color: #2b738d;
  --secondary-color: #eac8ca;
  --tertiary-color: #e49a8d;
}
body {
  font-family: 'Times New Roman', Times, serif;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
header {
  padding: 20px 30px;
  background-color: rgba(228, 154, 141,0.9);
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.nav-bar{
  float: right;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: left;
  list-style: none;
}
header nav ul li a{
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  color: var(--primary-color);
}
header nav ul li a:hover {
  background: var(--secondary-color);
  color: 	#8b8386;
  border-radius: 15px;
  text-shadow: none;
}
header h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  background-color: rgba(228, 154, 141,0.9);
  justify-content: space-between;
}
